<!-- ////////////// FOOTER ////////////// -->
section.footer
	.container
			.row
				.col-6.col-md
					h6 FULLSTACK VIETNAM
					ul.list-unstyled
						li
							a(href="#") Mobile: 3523523
						li
							a(href="#") Email: asfahs
						li
							a(href="#") Địa chỉ: àasfas asfa
						li
							a(href="#")
				.col-6.col-md
					h6 LINKS
					ul.list-unstyled
						li
							a(href="#") Mobile: 3523523
						li
							a(href="#") Email: asfahs
						li
							a(href="#") Địa chỉ: àasfas asfa
				.col-6.col-md
					h6.line
					ul.list-unstyled.mt-4
						li
							a(href="#") Mobile: 3523523
						li
							a(href="#") Email: asfahs
						li
							a(href="#") Địa chỉ: àasfas asfa
						li
							a(href="#") àasfa sfasfasf
				.col-6.col-md
					h6 EMAIL
					form
						.form-group
							input#exampleInputEmail1.form-control.font-italic(type='email', aria-describedby='emailHelp', placeholder='Email của bạn')
							button.btn.btn-primary GỬI
section.hihi
	.container
		.row
			.col-md-3.text
				p.m-0 Copyright 2018 by 
					a(href='#') FullStack Vietnam
			.col-md-9
				ul
					li
						a(href="#") 
							i.fab.fa-twitter
					li
						a(href="#") 
							i.fab.fa-facebook-f

